.main-section {
    background-color: #fff;
    padding: 60px;
    color: #000;
}

.upper-rounding {
    border-radius: 30px 30px 0 0;
}

.lower-rounding {
    border-radius: 0 0 30px 30px;
}

.team-img-border {
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    width: 200px;
    height: 275px;
    background-size: 200px 275px;
    background-position: center center;
    position: relative;

    -webkit-filter: drop-shadow(3px 3px 3px #000A);
    filter: drop-shadow(3px 3px 3px #000A);
}

.team-img-border:after {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    left: 6px;
    top: 6px;
    background-color: #fff;
}

.team-img {
    display: block;
    position: absolute;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 200px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    background-size: 200px 275px;
    background-position: center center;
    z-index: 2;
    transform: translate(-10px, -10px);
    transition: .5s cubic-bezier(.5,.03,.41,1);

    -webkit-filter: drop-shadow(3px 3px 3px #000A);
    filter: drop-shadow(3px 3px 3px #000A);
}

.team-img:hover {
    transform: translate(0px, 0px);
    transition: .5s cubic-bezier(.5,.03,.41,1);

    -webkit-filter: drop-shadow(0px 0px 0px #999);
    filter: drop-shadow(0px 0px 0px #999);
}

.social-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-links a {
    width: -moz-fit-content;
    width: fit-content;
}

.social-links img {
    max-height: 20px;
    display: block;
}

.link-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.main-section-spacer {
    background-image: url(../files/img/background.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    height: 2px;
    border: 0;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

#welcome-img {
    width: 100%;
    max-height: 600px;
    max-width: 1100px;
    -webkit-filter: drop-shadow(0 5px 10px #000);
    filter: drop-shadow(0 5px 10px #000);
    border-radius: 10px;
}

#main h2 {
    font-weight: normal;
    margin-bottom: 20px;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#quote {
    padding: 20px 50px;
}

#intro-img-block {
    flex-shrink: 0;
    position: relative;
    width: 365px;
    padding-top: 575px;
    margin: 0 50px 0 0;
}

#intro-img {
    position: absolute;
    height: 100%;
    width: 90%;
    perspective: 1000px;
    top: 0;
    right: 10%;
    filter: drop-shadow(5px 5px 5px #000A);
}

#intro-img-main {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../files/img/Auftritt-Spieleland.jpg');
    background-size: auto 100%;
    background-position: 50% 0;

    height: 100%;
    width: 100%;
    transform-origin: 100% 50%;
    transform: rotateY(-20deg);
}

#intro-img-right {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../files/img/Auftritt-Spieleland.jpg');
    background-size: auto 100%;
    background-position: 100% 0;  /* first value depends on image width */

    height: 100%;
    width: 20%;
    transform-origin: 100% 50%;
    transform: rotateY(60deg) translateX(100%);
    filter: brightness(40%);
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 60px;
}

#instagram-link .icon-effect {
    -webkit-mask-image: url(../files/img/instagram-logo.png);
    mask-image: url(../files/img/instagram-logo.png);
}

#youtube-link .icon-effect {
    -webkit-mask-image: url(../files/img/youtube-logo.png);
    mask-image: url(../files/img/youtube-logo.png);
}

#youtube-link .icon-effect a {
    background-image: url(../files/img/youtube-logo-placeholder.png);
}

#mail-link .icon-effect {
    -webkit-mask-image: url(../files/img/mail-logo.png);
    mask-image: url(../files/img/mail-logo.png);
}

#team-grid {
    display: grid;
    grid-template-columns: calc(25% - 30px) calc(25% - 30px) calc(25% - 30px) calc(25% - 30px);
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    gap: 60px 40px;
}

#team-grid h5 {
    font-size: 18px;
    line-height: 150%;
}

#team-grid p {
    font-size: 16px;
}

@media only screen and (max-width: 1300px) {
    #quote {
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 1000px) {
    #intro {
        gap: 0;
    }

    #team-grid {
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    }

    #intro-img-block {
        margin: 0;
    }
}

@media only screen and (max-width: 800px) {
    #intro {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .main-section {
        padding: 60px 20px;
    }

    #main h2 {
        font-size: 1.5em;
        font-weight: normal;
        margin-bottom: 20px;
    }

    #welcome {
        padding: 20px;
    }

    #team-grid {
        grid-template-columns: auto;
    }

    #links {
        gap: 10px;
    }
}
