.main-section-1 {
    border-radius: 30px 30px 0 0;
    background-color: #fff;
}

.main-section-2 {
    background-color: #fff;
}

.main-section-3 {
    border-radius: 0 0 30px 30px;
}

div[class^="main-section-"], div[class*=" main-section-"] {
    background-color: #fff;
    margin-bottom: 3px;
    padding: 60px;
    color: #000;
}

.team-img-border {
    display: block;
    margin-bottom: 20px;
    flex-shrink: 0;
    border-radius: 10px;
    width: 200px;
    height: 275px;
    background-size: 200px 275px;
    background-position: center center;
    position: relative;

    -webkit-filter: drop-shadow(3px 3px 3px #777);
    filter: drop-shadow(3px 3px 3px #777);
}

.team-img-border:after {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    background-color: #fff;
}

.team-img {
    display: block;
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-filter: drop-shadow(0 3px 5px #000A);
    filter: drop-shadow(0 3px 5px #000A);

    position: absolute;
    border-radius: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    background-size: 200px 275px;
    background-position: center center;
    z-index: 2;
    transform: translate(-10px, -10px);
    transition: .5s cubic-bezier(.5,.03,.41,1);

    -webkit-filter: drop-shadow(3px 3px 3px #777);
    filter: drop-shadow(3px 3px 3px #777);
}

.team-img:hover {
    transform: translate(0px, 0px);
    transition: .5s cubic-bezier(.5,.03,.41,1);

    -webkit-filter: drop-shadow(0px 0px 0px #999);
    filter: drop-shadow(0px 0px 0px #999);
}

.social-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-links a {
    width: -moz-fit-content;
    width: fit-content;
}

.social-links img {
    max-height: 20px;
    display: block;
}

.link-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

#welcome-img {
    width: 100%;
    max-height: 600px;
    max-width: 1100px;
    -webkit-filter: drop-shadow(0 5px 10px #000);
    filter: drop-shadow(0 5px 10px #000);
    border-radius: 10px;
}

#main h2 {
    font-weight: normal;
    margin-bottom: 20px;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#quote {
    padding: 20px 50px;
}

#intro-img-block {
    flex-shrink: 0;
    border-radius: 10px;
    width: 460px;
    height: 575px;
    background-image: url('../files/img/Auftritt-Spieleland.jpg');
    background-size: 460px 575px;
    background-position: center center;
    position: relative;

    -webkit-filter: drop-shadow(3px 3px 3px #777);
    filter: drop-shadow(3px 3px 3px #777);
}

#intro-img-block:after {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    background-color: #fff;
}

#intro-img {
    position: absolute;
    border-radius: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    background-image: url('../files/img/Auftritt-Spieleland.jpg');
    background-size: 460px 575px;
    background-position: center center;
    z-index: 2;
    transform: translate(-15px, -15px);
    transition: .5s cubic-bezier(.5,.03,.41,1);

    -webkit-filter: drop-shadow(3px 3px 3px #777);
    filter: drop-shadow(3px 3px 3px #777);
}

#intro-img:hover {
    transform: translate(0px, 0px);
    transition: .5s cubic-bezier(.5,.03,.41,1);

    -webkit-filter: drop-shadow(0px 0px 0px #999);
    filter: drop-shadow(0px 0px 0px #999);
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 60px;
}

#instagram-link .icon-effect {
    -webkit-mask-image: url(../files/img/instagram-logo.png);
    mask-image: url(../files/img/instagram-logo.png);
}

#youtube-link .icon-effect {
    -webkit-mask-image: url(../files/img/youtube-logo.png);
    mask-image: url(../files/img/youtube-logo.png);
}

#youtube-link .icon-effect a {
    background-image: url(../files/img/youtube-logo-placeholder.png);
}

#mail-link .icon-effect {
    -webkit-mask-image: url(../files/img/mail-logo.png);
    mask-image: url(../files/img/mail-logo.png);
}

#team-grid {
    display: grid;
    grid-template-columns: calc(25% - 30px) calc(25% - 30px) calc(25% - 30px) calc(25% - 30px);
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    gap: 60px 40px;
}

#team-grid h5 {
    font-size: 18px;
    line-height: 150%;
}

#team-grid p {
    font-size: 16px;
}

@media only screen and (max-width: 1300px) {
    #quote {
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .team-img {
        max-width: 180px;
    }

    #team-grid {
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    }

    #intro-img-block {
        width: 270px;
        height: 337px;
        background-size: 270px 337px;
    }

    #intro-img {
        background-size: 270px 337px;
    }
}

@media only screen and (max-width: 800px) {
    #intro {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    div[class^="main-section-"], div[class*=" main-section-"] {
        padding: 60px 20px;
    }

    #main h2 {
        font-size: 1.5em;
        font-weight: normal;
        margin-bottom: 20px;
    }

    #welcome {
        padding: 20px;
    }

    #team-grid {
        grid-template-columns: auto;
    }

    #links {
        gap: 10px;
    }
}
