* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata';
    font-size: 22px;

    background-image: url(../files/img/Unique-youtube-banner-blank_180.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

.website-logo {
    display: block;
}

#top-hr {
    border: 2px solid #1BB0D1;
}

#header, #footer {
    max-width: 1400px;
    margin: 0 auto;
}

#top-menu, #bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 72px;
    padding: 10px calc(40px + 0.6em);

    color: #ffffffa6;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
    text-transform: none;
}

#main {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

#header-nav, #footer-nav {
    display: flex;
    gap: 10px 50px;
    align-items: center;
}

#footer-nav {
    margin-right: auto;
    flex: 1;
}

#copyright {
    cursor: default;
    display: flex;
    justify-content: center;
    flex: 1;
}

#footer-img {
    display: flex;
    justify-content: end;
    flex: 1;
}

@media only screen and (max-width: 925px) {
    #footer-img {
        display: none;
    }

    #copyright {
        justify-content: end;
    }
}

@media only screen and (max-width: 670px) {
    #header-nav {
        display: none;
    }

    #top-menu {
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    #bottom-menu {
        flex-direction: column;
    }

    #footer-nav {
        margin-right: 0;
    }
}
